[Unit]
Description=NSRIT eSports Arena Gunicorn Service
After=network.target

[Service]
User=www-data
Group=www-data
WorkingDirectory=/var/www/nsrit_esports
ExecStart=/var/www/nsrit_esports/venv/bin/gunicorn \
    --workers 3 \
    --bind unix:/run/gunicorn.sock \
    --access-logfile /var/log/gunicorn/access.log \
    --error-logfile /var/log/gunicorn/error.log \
    --log-level info \
    --timeout 120 \
    nsrit_esports.wsgi:application

Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
